/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
  &:hover, &:focus {
    color: var(--primary);
    border-color: var(--primary);
    
  }
}

/*----------------------- Animatie 1 -----------------------*/

.scrolling {
  transition: transform 0.3s ease-in-out;
}

a:nth-of-type(1) {
  cursor: move;
}

.dragging {
  transform: scale(1.2);
  background-color: #9d7beb;
  color: #050840 !important;
}

.drag-enabled {
  cursor: move;
}

.dragarea {
  display: flex;
  flex-direction: column;
  width: 8em;
  padding-top: 3em;

  .dragging {
    transform: scale(1.2);
    background-color: #7ce7c9;
    color: #050840 !important;
  }
}

.dragarea p {
  color: #7ce7c9;
  font-size: 16px;
}

/* Het dropgebied (waar de knop naartoe gesleept kan worden) */
.drop-area {
  width: 15em;
  height: 3em;
  border: 3px dashed #7ce7c9;
  text-align: center;
  justify-content: center;
  line-height: 2em;
  background-color: #050840;

  a:nth-of-type(1) {
    cursor: move;
    padding: 0.1em 1em !important;
  }

}

/*----------------------- Animatie 2 -----------------------*/
.shake {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*----------------------- Animatie 3 -----------------------*/
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background: url(https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg);
  background-size: 120px;
}

/*----------------------- Animatie 4 -----------------------*/
a:nth-of-type(4) {
  transition: transform 0.3s ease-in-out;
}

.flipped {
  transform: rotateY(180deg);
  transition: 0.3s ease-in-out;
  background-color: #9d7beb;
  border: #9d7beb;
  color: #050840;
}

/*----------------------- Animatie 5 -----------------------*/
.shaker {
  animation: shaker 2s linear;
  transition: 0.3s ease-in-out;
}

@keyframes shaker {
  0% {
    -webkit-transform: translateY(-300px) scale(0.3);
    transform: translateY(-300px) scale(0.3);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  32% {
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  46% {
    -webkit-transform: translateY(calc(-300px / 6));
    transform: translateY(calc(-300px / 6));
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  61% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  72% {
    -webkit-transform: translateY(calc(-300px / 12));
    transform: translateY(calc(-300px / 12));
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  81% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  87% {
    -webkit-transform: translateY(calc(-300px / 40));
    transform: translateY(calc(-300px / 40));
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/*----------------------- Animatie 6 -----------------------*/
@keyframes scale-fade-in {
  0% {
    transform: scale(0);
    opacity: 0;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .25);
  }

  30%,
  70% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

a {
  position: relative;
  display: inline-block;
}

.animate {
  animation: scale-fade-in 1s ease forwards; /* Pas de animatie toe bij focus */
}

/*----------------------- Animatie 7 -----------------------*/
.reload {
  animation: roll-in 2s cubic-bezier(0.25, 1, 0.5, 1);
  animation-delay: 1s;
}

@keyframes roll-in {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
    background-color: #9d7beb;
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    background-color: #9d7beb;
    color: #050840;
    border: #9d7beb;
  }
}

/*----------------------- Animatie 8 -----------------------*/
.move {
  transition: transform 0.2s ease-out; /* Deze zorgt voor een vloeiende beweging */
}

/*----------------------- Animatie 10 -----------------------*/
a:nth-of-type(10) {
  transition: transform 0.3s ease-in-out;
}

.colorchange {
  background-color: #7ce7c9;
  border: #7ce7c9;
  color: #050840;
  animation: shake 2s linear;
}

.active {
  background-color: #800080;
  /* Paars */
  color: white;
}

.inactive {
  background-color: #800080;
  /* Paars voor inactieve knoppen */
  color: white;
  /* Tekst kleur wit */
}

/*----------------------- Animatie 11 -----------------------*/
a:nth-of-type(11) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}
